html, body {
    height:3000px;
  }
  
  .full-height {
    height: 100%;
  }
   
  
  
  .rect {
      z-index:-2;
      position: absolute;
      background:white;
      width:100%;
      height:12%;
      margin-left: 0%;
      top:0%
      
      
  }
  
  @font-face {
    font-family: 'Revelations';
    src:  
          url("/assets/Apoc-Revelations.woff") format('woff');
  }
  
  
  body {
      
    background: linear-gradient(180deg, rgba(0,0,0,1) 20%, rgb(63, 63, 63) 50%, rgb(255, 255, 255) 100%);
      background-size:100%;
    font-family: helvetica;
  }
  
  h2{
      font-family: helvetica;
      font-size: 36pt;
      font-weight: normal;
  }
  
  h1{
      font-family: helvetica;
      font-size: 16pt;
      font-weight: normal;
      color:#d6d6d6;
      z-index:2;
      position:inherit;
  }
  
  h3{
      font-family: 'Revelations';
      color:red;
      font-size: 35pt;
      font-weight: normal;
      margin-top:20px;
      margin-left:40px;
      position:relative;
      z-index:3;
      max-width:1000px;;
  }
  
  
  p{
      margin-left:40px;
      font-family: helvetica;
      font-size: 14pt;
      font-weight: normal;
      max-width: 620px;
      line-height: 1.2em;
      color:#d6d6d6;
  }

  .p2{
    font-size:10pt;  
  }
  
  .p1{
     
     font-size:12pt;
     
     margin-left:30px;
     
     
  }

  .card {
      border: 2px solid #d6d6d6;
      padding:5px;
      margin:20px;
      border-radius:20px;
      max-width:190px;
      margin-left:14%;
      transition: box-shadow 2.30s ease;
      
  }

  .card1 {
    border: 2px solid #d6d6d6;
    padding:5px;
    margin:20px;
    border-radius:20px;
    max-width:190px;
    margin-left:14%;
    transition: box-shadow 2.30s ease;
    
}

  .card:hover,
  .card:focus,
  .card:active {
    
    transition: box-shadow 1.00s ease;
    
    
    box-shadow: rgba(93, 0, 155, 0.56) -10px 20px 400px 500px;
  }

  .card1:hover,
  .card1:focus,
  .card1:active {
    
    transition: box-shadow 1.00s ease;
    
    
    box-shadow: rgba(255, 0, 0, 0.719) -10px 20px 400px 500px;
  }

  a.opensea:link
  a.opensea:visited
  a.opensea:after {
      color:red;
  }

  
  a:link {
      color: #d6d6d6;
      background-color: transparent;
      text-decoration: none;
  }
  a:visited {
      color: #d6d6d6;
      background-color: transparent;
      text-decoration: none;
  }
  a:hover {
      color: grey;
      background-color: transparent;
      text-decoration: underline;
      position:relative;
  }
  
  a:hover.dino:after {
      content: url();
      display: block;
      position: absolute;
      margin-left:200pt;
      max-width: 60%;
      margin-top: 0pt;
  }
  
  a:hover.translucent:after {
      content: url();
      display: block;
      position: absolute;
      margin-left:200pt;
      max-width: 60%;
      margin-top: 0;
  }
  
  a:active {
      color: grey;
      background-color: transparent;
      text-decoration: underline;
  }
  
  .title {
      margin-left: -150pt;
      margin-top: 150pt; 
      text-align:center;
  }
  
 
  
 

  
 
  
 
  
  img {
      
      margin-top: 20pt;
      max-width:70%;
    
      
  }

  .img1 {
      
    margin-top: 50pt;
    max-width:70%;
  
    
}




  .home_title {
    
      text-align:center;
  }
  
.slideshow-container {
    
    cursor: pointer;
    text-align:center;
    
}


  
  
  

  
  
  
  
  @media only screen 
  and (min-device-width: 150px) 
  and (max-device-width: 669px)
  and (-webkit-min-device-pixel-ratio: 2){
  
  .info{
      margin-top:0px;
      max-width:320px;
      
  }
  

  
  img {
      margin-left:0pt;
      margin-top: 10pt;
      max-width:95%;
      
      
  }
  
  .img1 {
      
    margin-top: 30pt;
    max-width:90%;
  
    
}

p {
    margin-left:15pt;
    max-width:70%;
}

.card {
    margin-left:5%;
}

.card1 {
    margin-left:5%;
}
  h1{
      margin-left:80px;
  }

  h3 {
      font-size:18pt;
      margin-left:5%;
      max-width:90%;
  }
  
  .p1{
      margin-left: 10pt;
      max-width: 320px;
      
   }
  


  

  
  }